body{
    background-image: linear-gradient(#a0b454, #9b6127);
}
.container{
    width: 90%;
    margin: 0 auto;
}
.header{
    background-color:#1c48994f;
    height: 100px;
}
.left{
    background-color: rgb(56, 184, 141);
    height: 400px;
    width: 20%;
    float: left;
}
.right{
    background-color: rgb(143, 36, 36);
    height: 400px;
    width: 20%;
    float: left;
}
.main{
    background-color: chocolate;
    height: 400px;
    width: 60%;
    float: left;
}
.footer{
    background-color: rgb(149, 43, 203);
    height: 100px;
    clear: both;
}